---
# for minima after version 2.5
---
@import "minima";

.wrapper {
  max-width: 2048px
}



.sup {
    position: relative;
    font-size: 67%;
    top: -0.8em;
}



.song {
  font-size: 130%;
  font-weight: bold;
}

.speaker {
  font-style: italic;
  font-size: 85%;
  white-space: pre;
}
