<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ show.title }}</title>
    <link rel="stylesheet" href="../threatbase.css">
  </head>
  <body>
    <h1>{{ show.title }}</h1>
    <p>{{ show.info }}</p>
    {% if show.ident %}
      <h2>Identification</h2>
      <p>{{ show.ident }}</p>
    {% endif %}
    {% if show.audio.orig_file %}
      <h2>Audio</h2>
      (original recording, without any editing)
      <audio controls>
          <source src="/audio/threatbase/{{ show.audio.orig_file }}.m4a" type='audio/mp4; codecs="mp4a.40.2"'>
          <source src="/audio/threatbase/{{ show.audio.orig_file }}.mp3" type='audio/mpeg; codecs="mp3"'>
          <source src="/audio/threatbase/{{ show.audio.orig_file }}.oga" type='audio/ogg; codecs="vorbis"'>
          [Audio player not supported by your browser. It works in Chrome.]
      </audio>
      (<a href="/audio/threatbase/{{ show.audio.orig_log }}">compression log file</a>)
    {% endif %}
    {% if show.images %}
      <h2>Flyers</h2>
      {% for image in show.images %}
        <a href="{{ image }}"><img class="flyer" src="{{ image }}" alt="{{ image }}"></a>
      {% endfor %}
    {% endif %}
    {% if show.tracks %}
      <h2>Tracks</h2>
      <table class="showtable">
        <thead>
          <tr><th>song/quote</th></tr>
        </thead>
        <tbody>
          {% for track in show.tracks %}
            <tr>
              <td class="{{ track.td_class }}">{{ track.song_or_quote }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if show.chain %}
      <h2>Chain</h2>
      <table class="editstable">
        <tbody>
          {% for ln in show.chain %}
            <tr><td>{{ ln.date }}</td><td>{{ ln.desc }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if show.edits %}
      <h2>Edits</h2>
      <p>The segment times are mm:ss from the beginning of the entire show.</p>
      <table class="editstable">
        <thead>
          <tr><th>segment</th><th>problem</th><th>editing</th></tr>
        </thead>
        <tbody>
          {% for edit in show.edits %}
            <tr><td>{{ edit.time }}</td><td>{{ edit.prob }}</td><td>{{ edit.edit }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <p>additions/corrections/questions, please email <a href="mailto:cmosher01@gmail.com">cmosher01@gmail.com</a></p>
  </body>
</html>
