<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ shows.band }} Shows</title>
    <link rel="stylesheet" href="../threatbase.css">
  </head>
  <body>
    <h1>{{ shows.band }} Shows</h1>
    <div class="table">
      <div class="thead">
        <div class="tr">
          <div class="td">date</div>
          <div class="td">venue</div>
          <div class="td">set list</div>
          <div class="td">other bands</div>
          <div class="td">known recording</div>
        </div>
      </div>
      <div class="tbody">
        {% for show in shows.list %}
          <a href="../show/{{ show.id }}" class="tr">
            <div class="td date">{{ show.date }}</div>
            <div class="td">{{ show.venue }}</div>
            <div class="td">{{ show.setlist }}</div>
            <div class="td">{{ show.other_bands }}</div>
            <div class="td">{{ show.recorded }}</div>
          </a>
        {% endfor %}
      </div>
    </div>
    <p>corrections/questions: email <a href="mailto:cmosher01@gmail.com">cmosher01@gmail.com</a></p>
  </body>
</html>
