<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ show.title }}</title>
    <link rel="stylesheet" href="../threatbase.css">
  </head>
  <body>
    <h1>{{ show.title }}</h1>

    <p>{{ show.info }}</p>

    {% if show.ident %}
      <h2>Identification</h2>
      <p>{{ show.ident }}</p>
    {% endif %}

    {% if show.audio.orig_file %}
      <h2>Audio</h2>
      (original recording, without any editing)
      <audio controls>
          <source src="/audio/threatbase/{{ show.audio.orig_file }}.m4a" type='audio/mp4; codecs="mp4a.40.2"'>
          <source src="/audio/threatbase/{{ show.audio.orig_file }}.mp3" type='audio/mpeg; codecs="mp3"'>
          <source src="/audio/threatbase/{{ show.audio.orig_file }}.oga" type='audio/ogg; codecs="vorbis"'>
          [Audio player not supported by your browser. It works in Chrome.]
      </audio>
      (<a href="/audio/threatbase/{{ show.audio.orig_log }}">compression log file</a>)
    {% endif %}

    {% if show.images %}
      <h2>Flyers</h2>
      {% for image in show.images %}
        <a href="{{ image }}"><img class="flyer" src="{{ image }}" alt="{{ image }}"></a>
      {% endfor %}
    {% endif %}

    {% if show.tracks %}
      <h2>Tracks</h2>
      <div class="table">
        <div class="thead">
          <div class="tr">
            <div class="td">song/quote</div>
          </div>
        </div>
        <div class="tbody">
          {% for track in show.tracks %}
            <div class="tr">
              <div class="td {{ track.td_class }}">{{ track.song_or_quote }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if show.chain %}
      <h2>Chain</h2>
      <div class="table">
        <div class="tbody">
          {% for ln in show.chain %}
            <div class="tr"><div class="td">{{ ln.date }}</div><div class="td">{{ ln.desc }}</div></div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if show.edits %}
      <h2>Edits</h2>
      <p>The segment times are mm:ss from the beginning of the entire show.</p>
      <div class="table">
        <div class="thead">
          <div class="tr"><div class="td">segment</div><div class="td">problem</div><div class="td">editing</div></div>
        </div>
        <div class="tbody">
          {% for edit in show.edits %}
            <div class="tr"><div class="td">{{ edit.time }}</div><div class="td">{{ edit.prob }}</div><div class="td">{{ edit.edit }}</div></div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <p>additions/corrections/questions, please email <a href="mailto:cmosher01@gmail.com">cmosher01@gmail.com</a></p>
  </body>
</html>
