<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ show.title }}</title>
    <link rel="stylesheet" href="../threatbase.css">
  </head>
  <body>
    <h1>{{ show.title }}</h1>
    <p>{{ show.info }}</p>
    <h2>Identification</h2>
    <p>{{ show.ident }}</p>
    <h2>Tracks</h2>
    <table class="showtable">
      <thead>
        <tr><th>song/quote</th><th>audio</th></tr>
      </thead>
      <tbody>
        {% for track in show.tracks %}
          <tr>
            <td class="{{ track.td_class }}">{{ track.song_or_quote }}</td>
            <td>{{ track.audio_file }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Chain</h2>
    <table class="editstable">
      <tbody>
        {% for ln in show.chain %}
          <tr><td>{{ ln.date }}</td><td>{{ ln.desc }}</td></tr>
        {% endfor %}
      </tbody>
    </table>
    {% if show.edits %}
      <h2>Edits</h2>
      <p>The segment times are mm:ss from the beginning of the entire show.</p>
      <table class="editstable">
        <thead>
          <tr><th>segment</th><th>problem</th><th>editing</th></tr>
        </thead>
        <tbody>
          {% for edit in show.edits %}
            <tr><td>{{ edit.time }}</td><td>{{ edit.prob }}</td><td>{{ edit.edit }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <p>corrections/questions: email <a href="mailto:cmosher01@gmail.com">cmosher01@gmail.com</a></p>
  </body>
</html>
